.test__wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 2 * 1.5rem);
  max-width: 62.5rem;
}

.test__content {
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  overflow: hidden;
}
.test__announce {
  display: flex;
  /* justify-content: center; */
  flex-shrink: 0;
  margin-top: 30px;
}

.test__status {
  font-size: 18px;
  border: 1.5px solid #dadce0;
  padding: 20px;
  border-radius: 10px;
  width: 900px;
  height: 100%;
}

@media only screen and (max-width: 842px) {
  .main__status {
    display: none;
  }
}

.test__buttons {
  display: flex;
  padding: 10px;
}
li {
  list-style: none;
}
.test_content h2 {
  margin: 10px;
}
