.tuluan__wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 2 * 1.5rem);
  max-width: 62.5rem;
}

.tuluan__content {
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  overflow: hidden;
}
.tuluan__content .tuluan_btn {
  margin: 0 20px;
  color: white;
  background-color: #2e7bc4;
}
.tuluan__content .tuluan_btn:hover {
  color: rgb(0, 80, 252);
  background-color: #cacaca;
}
.tuluan_btn {
  background-color: #4285f4;
  margin: 0 30px;
  color: rgb(2, 2, 2);
}

.tuluan_table {
  margin-top: 30px;
  border: 3px solid black;
}

th,
td {
  font-size: 18px;
  text-align: center;
  padding: 15px;
}

@media only screen and (max-width: 842px) {
  .main__status {
    display: none;
  }
}

.tuluanstudent__wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 2 * 1.5rem);
  max-width: 62.5rem;
}

.tuluanstudent__content {
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  overflow: hidden;
}
.tuluanstudent__announce {
  display: flex;
  /* justify-content: center; */
  flex-shrink: 0;
  margin-top: 1rem;
}
.tuluanstudent__status {
  font-size: 18px;
  border: 1.5px solid #dadce0;
  padding: 20px;
  border-radius: 10px;
  width: 1000px;
  height: 100%;
}
.tuluanstudent__buttons {
  display: flex;
  padding: 10px;
}
li {
  list-style: none;
}
.text-red-400 {
  color: red;
}
